.logo{
    width: 90px;
}
.bg-light {
    background-color:#A0C49D !important;
}
.navbar-collapse{
    margin-left: 30px;
    font-weight: bolder;
  
}
.navbar-light .navbar-nav .nav-link {
    color:white;
    margin: 5px;
    font-size: 20px;
}
#carouselExampleIndicators{
    width: 100%;
}

.slider-content {
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
}
.home-button{
    background-color: #A0C49D;
    color: white;
    width:100px;
    height: 40px;
    border-radius: 5px;
    border:1px solid #A0C49D;
}
.sliderimg{
    height: 655px;
}
.Categories{
display: flex;
gap:140px ;
margin-top: 90px;
justify-content: center;
}


.Categories-name {
    position: relative;
    margin-left: 72px;
    top: 52px;
    font-weight: bold;
}
.img-fluid{
    height: 200px;
}
.btn-primary{
    margin-left: 44px;
    margin-top: 30px;
}
.card-img-top{
    height: 200px;
   
}
.btn{
    background-color: #A0C49D;
    border: #A0C49D;
}
.btn:hover{
  background-color:#badeb7;
}
.font-weight-bold{
    font-size: 20px;
    margin-left: 85px;
    margin-top: 70px;
}

.cont{
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
}
.paragraph{
    font-size: 15px;
    margin-top: 50px;
    margin-right: 20px;
}
.cont img{
    width: 300px;
}
.cont button{
    margin-left: 500px;
    margin-top: 30px;
    background-color: #A0C49D;
    border: #A0C49D;
    border-radius: 5px;
    color: white;
    height: 40px;
}
.ourstory{
    margin-left: 90px;
    font-weight: bold;
    margin-top: 80px;
}

.services{
    display: grid;
    grid-template-columns: auto auto auto;
}
.icon{
    font-weight: bold;
}



.ourservices-name{
    margin-top: 80px;
    margin-left: 80px;
    font-weight: bold;
}
.services{
    margin-left: 100px;
    margin-top: 20px;
}
.fa-cart-flatbed  {
    color: #A0C49D;
    font-size: 20px;
}
.fa-lock{
    color: #A0C49D;
    font-size: 20px;
}
.fa-face-smile{
    color: #A0C49D;
    font-size: 20px;
}
.card{
    background-color: bisque;
}

.flexb{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    column-gap:5%;
    
}
.col-md-4{
    max-width: 100% !important;
}
/* ----------------footer---------------------------- */
.footer{
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid black;
    background-color: #A0C49D;
    height: 200px;
    justify-content: space-between;
    
}
.footer img{
    width: 26%;
    margin-bottom: 20px;
    margin-left: 133px;
    font-weight: bold;
}
.right{
    margin-top: 29px;
    font-size: 13px;
    padding-left: 200px;
    
}
.left{
    margin-left: 135px;
    margin-top: 51px;
    font-size: 20px;
}
.middle{
    margin-top: 51px;
    font-size: 30px;
    padding-left: 200px;
}
.fa-brands{
    width:30px;
    font-size: 20px;
    margin-left: 5px;
}
.fa-copyright{
    margin-left: 100px;
}









    
    































































































































/* 
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
} */

/* display 3 */
/* @media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
} */

